In [ ]:
list_matakuliah = ['Fisika', 'Kimia', 'Matematika', 'Biologi']

In [ ]:
print(list_matakuliah[0])  # Output: Fisika
print(list_matakuliah[-1])  # Output: Biologi (akses dengan indeks negatif)

In [ ]:
sub_list = list_matakuliah[1:3]  # Output: ['Kimia', 'Matematika']

In [ ]:
list_buah = ['apel', 'jeruk']
list_angka = [1, 2, 3]
gabungan = list_buah + list_angka
print(gabungan)  # Output: ['apel', 'jeruk', 1, 2, 3]
print(list_buah * 3)  # Output: ['apel', 'jeruk', 'apel', 'jeruk', 'apel', 'jeruk']

In [ ]:
print('apel' in list_buah)  # Output: True

In [ ]:
for mata in list_matakuliah:
    print(mata)

In [1]:
import pandas as pd

# Membaca dataset Data_Mahasiswa.csv dengan pemisah titik koma
data = pd.read_csv('Data_Mahasiswa.csv', sep=';')

# Menghapus spasi berlebih dari nama kolom agar konsisten
data.columns = data.columns.str.strip()

# Misalkan kita ingin mengambil daftar nama lengkap mahasiswa dari kolom "Nama Lengkap Mahasiswa"
daftar_nama = data['Nama Lengkap Mahasiswa'].tolist()

# Operasi dasar pada list:
# 1. Menampilkan jumlah mahasiswa dalam dataset (panjang list)
jumlah_mahasiswa = len(daftar_nama)
print("Jumlah mahasiswa:", jumlah_mahasiswa)

# 2. Mengubah semua nama menjadi huruf kapital menggunakan list comprehension
daftar_nama_kapital = [nama.upper() for nama in daftar_nama if isinstance(nama, str)]
print("\nContoh Nama dalam Huruf Kapital:")
print(daftar_nama_kapital[:5])  # Menampilkan 5 nama pertama

# 3. Mengambil potongan (slicing) dari setiap nama, misalnya 3 karakter pertama
daftar_nama_potongan = [nama[:3] for nama in daftar_nama if isinstance(nama, str)]
print("\nContoh 3 Karakter Pertama dari Setiap Nama:")
print(daftar_nama_potongan[:5])  # Menampilkan 5 potongan nama pertama

# 4. Menggabungkan dua list: Misalnya, kita buat list baru dengan nama dan tambahan informasi 'Mahasiswa'
daftar_nama_dengan_label = ["Mahasiswa " + nama for nama in daftar_nama if isinstance(nama, str)]
print("\nContoh Penggabungan String pada List Nama:")
print(daftar_nama_dengan_label[:5])

# 5. Melakukan iterasi pada list untuk menampilkan setiap nama
print("\nIterasi melalui daftar nama:")
for nama in daftar_nama[:5]:  # Menampilkan 5 nama pertama
    print("Nama:", nama)

Jumlah mahasiswa: 507

Contoh Nama dalam Huruf Kapital:
['SAMUEL SAUT ROYZEKI ARITONANG', 'CALVIN JOSEP SILAEN', 'INDAH SILITONGA', 'ASRI YOHANA SIRAIT', 'FERDIANTY MARIANY PANJAITAN ']

Contoh 3 Karakter Pertama dari Setiap Nama:
['Sam', 'Cal', 'Ind', 'Asr', 'Fer']

Contoh Penggabungan String pada List Nama:
['Mahasiswa Samuel Saut Royzeki Aritonang', 'Mahasiswa Calvin Josep Silaen', 'Mahasiswa Indah Silitonga', 'Mahasiswa Asri Yohana Sirait', 'Mahasiswa Ferdianty Mariany Panjaitan ']

Iterasi melalui daftar nama:
Nama: nan
Nama: Samuel Saut Royzeki Aritonang
Nama: Calvin Josep Silaen
Nama: Indah Silitonga
Nama: Asri Yohana Sirait