In [2]:
s1 = "Data"
s2 = "Science"
hasil = s1 + " " + s2  # Output: "Data Science"

In [3]:
s = "Python"
hasil = s * 3  # Output: "PythonPythonPython"

In [4]:
s = "Mahasiswa"
potongan = s[0:4]  # Output: "Maha"

In [5]:
import pandas as pd

# Membaca dataset Data_Mahasiswa.csv dengan pemisah titik koma
data = pd.read_csv('Data_Mahasiswa.csv', sep=';')

# Menghapus spasi ekstra dari nama kolom untuk konsistensi
data.columns = data.columns.str.strip()

# Contoh 1: Mengubah seluruh nama mahasiswa menjadi huruf kapital
data['Nama_Kapital'] = data['Nama Lengkap Mahasiswa'].str.upper()

# Contoh 2: Menggabungkan string untuk menambahkan gelar "Mahasiswa" di depan nama
data['Nama_dan_Gelar'] = "Mahasiswa " + data['Nama Lengkap Mahasiswa']

# Contoh 3: Mengambil 5 karakter pertama dari nama mahasiswa sebagai fitur ringkasan
data['Nama_5karakter'] = data['Nama Lengkap Mahasiswa'].str[:5]

# Contoh 4: Mencari posisi substring "Saut" pada kolom nama (jika ada)
data['Posisi_Saut'] = data['Nama Lengkap Mahasiswa'].str.find("Saut")

# Menampilkan 5 baris pertama dari kolom hasil manipulasi
print("Hasil manipulasi kolom 'Nama Lengkap Mahasiswa':")
print(data[['Nama Lengkap Mahasiswa', 'Nama_Kapital', 'Nama_dan_Gelar', 'Nama_5karakter', 'Posisi_Saut']].head())

Hasil manipulasi kolom 'Nama Lengkap Mahasiswa':
          Nama Lengkap Mahasiswa                   Nama_Kapital  \
0                            NaN                            NaN
1  Samuel Saut Royzeki Aritonang  SAMUEL SAUT ROYZEKI ARITONANG
2            Calvin Josep Silaen            CALVIN JOSEP SILAEN
3                Indah Silitonga                INDAH SILITONGA
4             Asri Yohana Sirait             ASRI YOHANA SIRAIT

                            Nama_dan_Gelar Nama_5karakter  Posisi_Saut
0                                      NaN            NaN          NaN
1  Mahasiswa Samuel Saut Royzeki Aritonang          Samue          7.0
2            Mahasiswa Calvin Josep Silaen          Calvi         -1.0
3                Mahasiswa Indah Silitonga          Indah         -1.0
4             Mahasiswa Asri Yohana Sirait          Asri          -1.0