In [ ]:
koordinat = (3.5, 7.2)

In [ ]:
print(koordinat[0])  # Output: 3.5
print(koordinat[1])  # Output: 7.2

In [1]:
# Pembuatan tuple
koordinat = (3.5, 7.2)
print("Koordinat:", koordinat)

# Mengakses elemen tuple
print("Nilai x:", koordinat[0])
print("Nilai y:", koordinat[1])

# Penggunaan tuple sebagai key pada dictionary
pasangan = { (1, 2): "Pasangan A", (3, 4): "Pasangan B" }
print("Nilai pasangan (1,2):", pasangan[(1, 2)])

Koordinat: (3.5, 7.2)
Nilai x: 3.5
Nilai y: 7.2
Nilai pasangan (1,2): Pasangan A

In [2]:
import pandas as pd

# Membaca dataset Data_Mahasiswa.csv dengan pemisah titik koma
data = pd.read_csv('Data_Mahasiswa.csv', sep=';')

# Menghapus spasi ekstra pada nama kolom untuk konsistensi
data.columns = data.columns.str.strip()

# Misalkan kita akan membuat sebuah dictionary untuk mengelompokkan data mahasiswa
# berdasarkan kombinasi (NIM, Nama Lengkap Mahasiswa). Karena kombinasi ini bersifat unik
# dan tidak akan berubah, kita gunakan tuple sebagai key.

# Pertama, pastikan kolom 'NIM' diubah ke tipe numerik agar bisa dibandingkan dengan benar
data['NIM'] = pd.to_numeric(data['NIM'], errors='coerce')

# Membuat dictionary untuk mengelompokkan data mahasiswa
# Misal, kita ingin mengumpulkan data tentang 'Angkatan Mahasiswa' untuk setiap mahasiswa
data_mahasiswa = {}

for idx, row in data.iterrows():
    # Pastikan nilai NIM dan Nama Lengkap valid
    if pd.notnull(row['NIM']) and isinstance(row['Nama Lengkap Mahasiswa'], str):
        # Buat tuple sebagai key
        key = (row['NIM'], row['Nama Lengkap Mahasiswa'])
        # Simpan informasi tambahan, misalnya angkatan, sebagai value
        data_mahasiswa[key] = row['Angkatan Mahasiswa']

# Menampilkan contoh 5 entri dari dictionary
print("Contoh pengelompokan data mahasiswa menggunakan tuple sebagai key:")
for i, (k, v) in enumerate(data_mahasiswa.items()):
    if i == 5:
        break
    print(f"Key (NIM, Nama): {k} => Angkatan: {v}")

Contoh pengelompokan data mahasiswa menggunakan tuple sebagai key:
Key (NIM, Nama): (11422026.0, 'Samuel Saut Royzeki Aritonang') => Angkatan: 2022
Key (NIM, Nama): (11422038.0, 'Calvin Josep Silaen') => Angkatan: 2022
Key (NIM, Nama): (11422060.0, 'Indah Silitonga') => Angkatan: 2022
Key (NIM, Nama): (11422029.0, 'Asri Yohana Sirait') => Angkatan: 2022
Key (NIM, Nama): (11423008.0, 'Ferdianty Mariany Panjaitan ') => Angkatan: 2023